/**/
:root {

   /* Search results, post cards, etc. */
   --font-family-one: 'Times New Roman', serif;

   /* Post content */
   --font-family-two: 'Times New Roman', serif;
   --font-weight-two-regular: 300;
}


/* --------------------------------------------------------------------------
   1.Global
   -------------------------------------------------------------------------- */


/* Title
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.global-title-big {
    font-size: 78px;
}

.global-title-medium {
   font-size: 58px;
}


/* Logo
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.header-logo {
	width: 186px;
	left: calc(50% - 93px);
	position: absolute;
	z-index: 1000;
}

/* Navigation
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.header-nav nav {
   padding: 0;
}


/* Content
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.post-header-content {
    padding: 0 0 2vh 0;
}

.post-excerpt {
    max-width: 100%;
}

.post-title {
    max-width: 100%;
}

.header-center{
	text-align: center;
}

.flex-center{
	justify-content: center;
}

/* --------------------------------------------------------------------------
   3.Hero
   -------------------------------------------------------------------------- */
   
.hero-wrap-center{
	    display: grid;
        justify-items: center;
}   

/* Item
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.item-title {
   font-size: 30px;
   font-family: var(--font-family-three);
}   

.text-italic{
	font-style: italic;
}

.global-excerpt {
	font-size: 18px;
} 

.item-content{

}

.item-lock{

}  

.item-content.is-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: auto;
}

.global-members-label {
    width: 40px;
    height: 40px;
    margin: 0;
    top: 20px;
    position: absolute;
    left: 20px;    
}

.global-members-label svg {
    height: 22px;
}
/* Button
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.global-button {
   font-family: var(--font-family-two);
   padding: 20px 25px 18px;
   letter-spacing: 1px;
   border-radius: 0px;

   font-size: 20px;
   font-weight: var(--font-weight-one-semi-bold);
   line-height: 1.5;
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 10px 34px;
   cursor: pointer;
   transition-timing-function: ease;
   transition-duration: .15s;
   transition-property: color, background-color;
   text-align: center;
   color: var(--color-font-four);
   border: none;
   outline: none;
   background-color: var(--color-three);
   
   
}

.global-button::before,
.global-button::after {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   content: '';
}

.global-button::before {
   z-index: -1;
   background-color: var(--ghost-accent-color)
}

.global-button::after {
   z-index: -2;
   transition-timing-function: ease;
   transition-duration: .15s;
   transition-property: top, left, right, bottom;
   pointer-events: none;
   background-color: var(--color-font-four);
}

.global-button:hover::after {
   top: 6px;
   right: -6px;
   bottom: -6px;
   left: 6px;
}

.lemonsqueezy-button{
	text-decoration: none;
}

/* --------------------------------------------------------------------------
   14.Subscribe form
   -------------------------------------------------------------------------- */
   
   .subscribe-form {
   border-radius: 0px;
   }
   
   
/* RWD — Featured & Special section
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:1480px) {
	.featured-wrap h1.item-title {font-size: 30px;}
}   
